In [1]:
import pandas as pd
df = pd.read_csv('C:/Users/rlumbao/Downloads/Product_Offering_Data.csv')
print(df)

    Product_ID                   Product_Name     Product_Type Risk_Level  \
0            1           Platinum Credit Card      Credit Card     Medium
1            2           Gold Savings Account  Savings Account        Low
2            3  High-Yield Investment Account       Investment       High
3            4                  Mortgage Loan             Loan     Medium
4            5                      Auto Loan             Loan     Medium
5            6                  Personal Loan             Loan     Medium
6            7          Youth Savings Account  Savings Account        Low
7            8     Retirement Investment Fund       Investment       High
8            9                  Business Loan             Loan     Medium
9           10             Travel Credit Card      Credit Card     Medium
10           2           Gold Savings Account  Savings Account        Low
11          10             Travel Credit Card      Credit Card     Medium
12           3  High-Yield Investment Account       Investment       High
13           6                  Personal Loan             Loan     Medium
14           1           Platinum Credit Card      Credit Card     Medium

    Target_Age_Group Target_Income_Group
0                NaN              Medium
1                NaN                 Low
2                NaN                High
3                NaN                High
4                NaN              Medium
5                NaN                 Low
6                NaN                 Low
7                NaN                High
8                NaN              Medium
9                NaN              Medium
10               NaN                 Low
11               NaN              Medium
12               NaN                High
13               NaN                 Low
14               NaN              Medium

In [3]:
import pandas as pd
df = pd.read_csv('C:/Users/rlumbao/Downloads/Product_Offering_Data.csv')
df_cleaned = df.drop_duplicates()
print(df_cleaned)

   Product_ID                   Product_Name     Product_Type Risk_Level  \
0           1           Platinum Credit Card      Credit Card     Medium
1           2           Gold Savings Account  Savings Account        Low
2           3  High-Yield Investment Account       Investment       High
3           4                  Mortgage Loan             Loan     Medium
4           5                      Auto Loan             Loan     Medium
5           6                  Personal Loan             Loan     Medium
6           7          Youth Savings Account  Savings Account        Low
7           8     Retirement Investment Fund       Investment       High
8           9                  Business Loan             Loan     Medium
9          10             Travel Credit Card      Credit Card     Medium

   Target_Age_Group Target_Income_Group
0               NaN              Medium
1               NaN                 Low
2               NaN                High
3               NaN                High
4               NaN              Medium
5               NaN                 Low
6               NaN                 Low
7               NaN                High
8               NaN              Medium
9               NaN              Medium

In [7]:
import pandas as pd
df = pd.read_csv('C:/Users/rlumbao/Downloads/Product_Offering_Data.csv')
df_cleaned = df.drop_duplicates().copy()
def assign_age_group(row):
    if row['Risk_Level'] == 'Low':
        return '18-25'
    elif row['Risk_Level'] == 'Medium':
        return '26-40'
    elif row['Risk_Level'] == 'High':
        return '40-60'
    else:
        return 'Unknown'

df_cleaned['Target_Age_Group'] = df_cleaned.apply(assign_age_group, axis=1)
df_cleaned['Target_Age_Group'] = df_cleaned['Target_Age_Group'].astype(str)
print(df_cleaned)

   Product_ID                   Product_Name     Product_Type Risk_Level  \
0           1           Platinum Credit Card      Credit Card     Medium
1           2           Gold Savings Account  Savings Account        Low
2           3  High-Yield Investment Account       Investment       High
3           4                  Mortgage Loan             Loan     Medium
4           5                      Auto Loan             Loan     Medium
5           6                  Personal Loan             Loan     Medium
6           7          Youth Savings Account  Savings Account        Low
7           8     Retirement Investment Fund       Investment       High
8           9                  Business Loan             Loan     Medium
9          10             Travel Credit Card      Credit Card     Medium

  Target_Age_Group Target_Income_Group
0            26-40              Medium
1            18-25                 Low
2            40-60                High
3            26-40                High
4            26-40              Medium
5            26-40                 Low
6            18-25                 Low
7            40-60                High
8            26-40              Medium
9            26-40              Medium

In [11]:
df_cleaned['Risk_Level_Encoded'] = df_cleaned['Risk_Level'].map({'Low': 1, 'Medium': 2, 'High': 3,})
print(df_cleaned)

   Product_ID                   Product_Name     Product_Type Risk_Level  \
0           1           Platinum Credit Card      Credit Card     Medium
1           2           Gold Savings Account  Savings Account        Low
2           3  High-Yield Investment Account       Investment       High
3           4                  Mortgage Loan             Loan     Medium
4           5                      Auto Loan             Loan     Medium
5           6                  Personal Loan             Loan     Medium
6           7          Youth Savings Account  Savings Account        Low
7           8     Retirement Investment Fund       Investment       High
8           9                  Business Loan             Loan     Medium
9          10             Travel Credit Card      Credit Card     Medium

  Target_Age_Group Target_Income_Group  Risk_Level_Encoded
0            26-40              Medium                   2
1            18-25                 Low                   1
2            40-60                High                   3
3            26-40                High                   2
4            26-40              Medium                   2
5            26-40                 Low                   2
6            18-25                 Low                   1
7            40-60                High                   3
8            26-40              Medium                   2
9            26-40              Medium                   2