### WEEK 2 ###

In [17]:
import pandas as pd

In [21]:
path_to_file = r"C:\Users\roero\Desktop\Data Mining\Transaction_Data - Transaction_Data.csv"
Transaction_Data = pd.read_csv(path_to_file)

   Transaction_ID  Customer_ID    Transaction_Date  Transaction_Amount  \
0               1          393  2023-01-01 0:00:00              3472.0
1               2          826  2023-01-01 1:00:00                 NaN
2               3          916  2023-01-01 2:00:00                10.0
3               4          109  2023-01-01 3:00:00                72.0
4               5          889  2023-01-01 4:00:00              1793.0

  Transaction_Type
0         Purchase
1     Bill Payment
2         Purchase
3       Investment
4       Investment

In [23]:
print(Transaction_Data.head())

   Transaction_ID  Customer_ID    Transaction_Date  Transaction_Amount  \
0               1          393  2023-01-01 0:00:00              3472.0
1               2          826  2023-01-01 1:00:00                 NaN
2               3          916  2023-01-01 2:00:00                10.0
3               4          109  2023-01-01 3:00:00                72.0
4               5          889  2023-01-01 4:00:00              1793.0

  Transaction_Type
0         Purchase
1     Bill Payment
2         Purchase
3       Investment
4       Investment

In [58]:
import pandas as pd
path_to_file = r"C:\Users\roero\Desktop\Data Mining\Transaction_Data - Transaction_Data.csv"
Transaction_Data = pd.read_csv(path_to_file)
print(Transaction_Data.head())

   Transaction_ID  Customer_ID    Transaction_Date  Transaction_Amount  \
0               1          393  2023-01-01 0:00:00              3472.0
1               2          826  2023-01-01 1:00:00                 NaN
2               3          916  2023-01-01 2:00:00                10.0
3               4          109  2023-01-01 3:00:00                72.0
4               5          889  2023-01-01 4:00:00              1793.0

  Transaction_Type
0         Purchase
1     Bill Payment
2         Purchase
3       Investment
4       Investment

In [100]:
import pandas as pd
df = pd.read_csv(r"C:\Users\roero\Desktop\Data Mining\Transaction_Data - Transaction_Data.csv")
num_entries = df.shape[0]
print(num_entries)

5050

In [102]:
df.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5050 entries, 0 to 5049
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Transaction_ID      5050 non-null   int64
 1   Customer_ID         5050 non-null   int64
 2   Transaction_Date    5050 non-null   object
 3   Transaction_Amount  4950 non-null   float64
 4   Transaction_Type    5050 non-null   object
dtypes: float64(1), int64(2), object(2)
memory usage: 197.4+ KB

In [104]:
df.isnull().sum ()

Transaction_ID          0
Customer_ID             0
Transaction_Date        0
Transaction_Amount    100
Transaction_Type        0
dtype: int64

In [6]:
import pandas as pd

In [11]:
df = pd.read_csv(r"C:\Users\roero\Desktop\Data Mining\Transaction_Data - Transaction_Data.csv")

In [13]:
df.isnull().sum ()

Transaction_ID          0
Customer_ID             0
Transaction_Date        0
Transaction_Amount    100
Transaction_Type        0
dtype: int64